name: Build and Deploy
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: satelitte
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  NODE_VERSION: '24.x'

permissions:
  contents: read

jobs:
  build:
    environment: Satellite_env
    env: 
      POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
      AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
 
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
 
    - name: npm install and build
      run: |
        npm install --legacy-peer-deps
        npm run build --if-present
        # Copy static & public (Next.js standalone structure)
        cp -r ./build/static ./build/standalone/build
        cp -r ./public ./build/standalone.
 
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: node-app
        path: build/standalone  # This will now include startup.sh
 
  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Satellite_env'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
 
    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: node-app
 
    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: .
