name: Lint
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@v4

      # Removed pnpm setup step here

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"            # Changed from "pnpm" to "npm"

      - name: Install dependencies
        run: npm install               # "ci" is faster and safer than "install" for pipelines

      - name: Run lint
        run: npm run lint         # Changed from "pnpm lint"
